<article class="product-card flex-column">
    <div class="carousel-images">
        <div class="active-image-wrapper">
        <img class="card-image" alt="{{mainImageAlt}}" src="{{mainImageSrc}}">
        </div>
        <div class="controls">
            ...
        </div>
    </div>

    <div class="prices full-wide">
        <div class="sell-price">{{price}} ₽</div>
        <div class="old-price">{{oldPrice}} ₽</div>
        <div class="sale-percentage">-{{sale}}%</div>
    </div>

    <div class="brand full-wide">
        {{brand}}
    </div>

    <div class="product-title full-wide">
        {{title}}
    </div>

    <div class="reviews full-wide">
        <div class="reviews__star-block">
            <span class="reviews__star-text">{{rating}}</span>
        </div>
        <div class="reviews__count-block">{{reviewsCount}} отзывов</div>
    </div>

    <div class="product-manip full-wide">
        <component data-id="buy-button"></component>
    </div>
</article>