<div class="reg_page__title__comment">
    {{#if invalid.name}}
    <div class="reg_page__title__comment__error">
        Введите ваше имя! Пожалуста, повторите попытку ввода
    </div>
    {{else if invalid.email}}
    <div class="reg_page__title__comment__error">
        Email является недействительным! Пожалуста, повторите попытку ввода
    </div>
    {{else if invalid.password}}
    <div class="reg_page__title__comment__error">
        Формат пароля не верный. Пожалуйста учтите требования к паролю:
        <ul>
            <li>длина от 8 до 24 символов</li>
            <li>хотя бы 1 заглавная и прописная буква латинского алфавита</li>
            <li>хотя бы 1 цифра</li>
        </ul>
    </div>
    {{else if invalid.repeatPassword}}
    <div class="reg_page__title__comment__error">
        Формат пароля не верный. Пожалуйста учтите требования к паролю:
        <ul>
            <li>длина от 8 до 24 символов</li>
            <li>хотя бы 1 заглавная и прописная буква латинского алфавита</li>
            <li>хотя бы 1 цифра</li>
        </ul>
    </div>
    {{else if showHelp}}
    <div class="reg_page__title__comment__help">
        Формат пароля не верный. Пожалуйста учтите требования к паролю:
        <ul>
            <li>длина от 8 до 24 символов</li>
            <li>хотя бы 1 заглавная и прописная буква латинского алфавита</li>
            <li>хотя бы 1 цифра</li>
        </ul>
    </div>
    {{else if invalid.nowRepeated}}
    <div class="reg_page__title__comment__error">
        Пароли не совпдают! Пожалуста, повторите попытку ввода
    </div>
    {{/if}}
</div>