<div class="tf">
    <input class="tf__input {{mainClass}} {{otherClasses}}" type="{{type}}" placeholder="{{placeholder}}"
        value="{{defaultValue}}">
    {{#if showIcon}}
    <img class="tf__mark" src="{{icon}}"></img>
    {{/if}}
</div>