<div class="tf">
    <input class="tf__input {{mainClass}} tf__type__input__width__400" type="{{type}}" placeholder="{{placeholder}}"
        value="{{defaultValue}}">
    {{#if showIcon}}
    <img class="tf__mark" src="{{icon}}"></img>
    {{/if}}
</div>