<button {{{ isDisabled }}}
        type="button"
        class="btn-icon__{{ size }} btn-with-icon {{{ otherClasses }}} {{{ iconPosition }}}">
    {{#if iconSrc}}
        <img alt="{{{ iconAlt }}}" src="{{{ iconSrc }}}" class="btn-icon">
    {{/if}}
    <span>{{{ title }}}</span>
</button>