<button {{{ isDisabled }}} type="button" class="btn-with-icon btn-with-icon__{{{ type }}} flex-column">
    <img alt="{{{ iconAlt }}}" src="{{{ iconSrc }}}" class="btn-icon">
    <span>{{{ title }}}</span>
</button>